services:
  app:
    build: .
    container_name: wex-payments-api
    ports:
      - "8080:8080"
    environment:
      POSTGRES_URL: "jdbc:postgresql://db:5432/default"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - local

  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: default
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U test -d default" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s
    networks:
      - local

networks:
  local:
    driver: bridge